.wrangler*
.zcompdump*
go/
gh/
.gsd-keyboard.settings-ported
evolution/
gnome-initial-setup-done
gtk-3.0/
ibus/
pulse/
user-dirs.dirs
user-dirs.locale
mozilla/firefox/
nvim.log
dconf/
discord/
mozc/
fontconfig/
systemd/
environment.d/
mimeapps.list
background
goa-1.0/
gtk-4.0/
epiphany/
Vencord/
fcitx/
nautilus
zenn-cli.json

nvim
nvim/
!/nixos/home/programs/nvim/
