include "./display.kdl"
include "./startup.kdl"
include "./keymap.kdl"
include "./window-rule.kdl"

// remove titlebar
// Ref: 一目惚れから始まった。NixOSに最高の美しさをもたらす「Nix + Noctalia」環境の作り方
//      https://note.com/joyful_fish3892/n/n91b03393bb00#83807da1-7bed-45a8-b196-f22be8f2be17
prefer-no-csd
input {
    // auto focus
    // Ref: 一目惚れから始まった。NixOSに最高の美しさをもたらす「Nix + Noctalia」環境の作り方
    //      https://note.com/joyful_fish3892/n/n91b03393bb00#83807da1-7bed-45a8-b196-f22be8f2be17
    focus-follows-mouse max-scroll-amount="0%"

    keyboard {
        xkb {
        }

        numlock
    }

    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 16

    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Ctrl+Shift+R) toggles between.
    // preset-window-heights { }

    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    // You can change how the focus ring looks.
    focus-ring {
        // off

        // How many logical pixels the ring extends out from the windows.
        width 2

        // Color of the ring on the active monitor.
        active-color "#7fc8ff"

        // Color of the ring on inactive monitors.
        inactive-color "#505050"

    }

    border {
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        // on

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// Disable hot-corners
gestures {
  hot-corners {
    off
  }
}

hotkey-overlay {
  skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Animation settings.
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // off

    slowdown 2.0
}
