// Output Settings
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Outputs

// ----------
// Built-in Monitor
// ----------
output "eDP-1" {
    // off

    // Reoslution Settings
    // You can check with `niri msg outputs`
    mode "1920x1080@120.030"

    scale 1.3

    // Transform
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // Position of the output in the global coordinate space.
    position x=1280 y=0
}

// ----------
// 24E4 Monitor
// ----------
output "HKC OVERSEAS LIMITED 24E4 0000000000001" {
  // off

  mode "1920x1080@60.000"
  scale 1.0
  transform "normal"
  position x=2400 y=0
}

// ----------
// CCR1 Monitor
// ----------
output "Sharp Corporation PN-L603W 0x0C359404" {
  // off

  mode "1920x1080@60.000"
  scale 1.0
  transform "normal"
  position x=2400 y=0
}
