* {
  background-color: #f0f0f0;

  min-height: 25px;
}

#custom-music,
#network,
#pulseaudio,
#cpu,
#memory,
#battery {
  border-right: 2px solid #c8c8c8;
  margin-top: 3px;
  margin-bottom: 3px;

  padding-left: 10px;
  padding-right: 8px;
}

#custom-music {
  padding-right: 15px;
}

#battery {
  border-right: none;
}

#custom {
  margin-left: 10px;
}

#custom-logout {
  margin-right: 0;
  margin-left: 8px;
  font-size: 20px;
}

#custom-shutdown {
  margin-right: 0;
  margin-left: 8px;
  font-size: 20px;
}

#custom-reboot {
  margin-right: 0;
  margin-left: 8px;
  font-size: 20px;
}

#battery.warning {
  font-weight: bold;
}
