#cpu {
  margin-left: 3px;
  margin-right: 0;
  padding-left: 13px;
  padding-right: 10px;
  color: #ffffff;
  background-color: #5ed6a4;
}

#pulseaudio {
  margin-left: 3px;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 13px;
  color: #ffffff;
  background-color: #fc9ce7;
}

#network {
  margin-left: 3px;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 13px;
  background-color: #f7c051;
  color: #ffffff;
}

#memory {
  margin-left: 3px;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 13px;
  background-color: #5ed6a4;
  color: #ffffff;
}

#battery {
  margin-left: 3px;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 13px;
  background-color: #42bc6c;
  color: #ffffff;
}

#battery.warning {
  background-color: #f2df35;
  font-weight: bold;
}

#battery.critical {
  background-color: #fe0219;
}
